@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
header{
  z-index: 1;
  top: 0;
  width:100%; 
  height:60px; 
  background:rgba(0,0,0,0.1);
}

header a{
  color:white;
  background:rgba(0,0,0,0.1); 
  display:inline-block; 
  padding:0px 30px; 
  line-height:60px; 
  text-align:center;
  font-family: 'Roboto Slab', serif; 
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:700;
}

.content {
  margin-top: 10%;
  margin-bottom: 10%;
}

html {
background: url(/photos/MPD_0304.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#session, #break {
  height: 63px;
  width: 70px;
  font-size: 30px;
  font-weight: 300;
}

.timerHeader{
  font-size: 18px;
  margin-bottom: 0px;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.input-fields {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}

.input-field label:not(.label-icon).active {
    font-size: 1.4rem;
    color: black;
}

.input-field {
  top: 20px;
  left: 37px;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-around;
}

.time {
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  letter-spacing: 4px;
}

.session {
  font-size: 40px;
}

.increase-timer {
    width: 161px;
    display: flex;
    flex-flow: row wrap;
    font-variant: small-caps;
  color: black!important;
}

.timer {
    width: 253px;
    height: 246px;
    border-radius: 152px;
    border-style: solid;
  border-width: 1px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
    background:rgba(0,0,0, .1); 
}

.timer:hover {
  cursor: pointer;
}

.headerText {
  text-align: center;
  font-size: 700%;
  font-family: 'Roboto Slab', serif;
  font-variant: small-caps;
  font-weight: 700;
  letter-spacing: 20px;
  margin-top: 20px;
}

.timerText{
  font-family: 'Roboto Slab', serif;
  font-variant: small-caps;
  font-weight: 900;
  letter-spacing: 10px;
  font-size: 35px;
  margin-left: 15px;
}

.breakText {
  font-family: 'Roboto Slab', serif;
  font-variant: small-caps;
  font-weight: 900;
  letter-spacing: 10px;
  font-size: 35px;
  margin: 0px;
}

.buttonContainer {
    width: 300px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
}